@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color : #2563EB;
    --secondary-color : #BFDBFE;
    --navbar-color : #1D4ED8;
    --off-white : #F3F4F6;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* margin-bottom;: 0px */
}

/* dark mode */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .ow{
    color: black;
}

hr{
    margin: 2rem 0rem;
}

.card {
    color: white;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(17, 17, 17, 0.4);
}

.card img{
    width: 80%;
    /* max-height: 25vh; */
}


.cardContainer:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {
    .card {
        width: 100%;

    }

    body {
        margin-right: 25px;
    }
}








/* container */

.container{
    margin : auto;
    padding: 1rem;
    

}

.container-center{
    /* max-width: 900px; */
    text-align: center;
    width: 80%;
}

/* links */

.link{
    text-decoration: none;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: .5rem;
    padding: .5rem;
    color: white;
    /* display: block; */
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: .5rem;
    border: 1px solid var(--primary-color);
    padding: .5rem;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline{
    display: inline;
    margin: 0rem .5rem;
}

/* navbar */

.navigation{
    border: 1px solid var(--navbar-color);
    background-color: var(--navbar-color);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    margin: 0rem 1rem;
}

.navigation .nav-brand {
    font-weight: bolder;
    color: white;
}

.navigation .link {
    color: white;
    text-align: right;
}
.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bolder;
}

/* hero */

.hero{
    padding: 1rem;
}

.hero .hero-img{
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    margin: 1rem 0rem;
}

.hero .heading-inverted{
    color: var(--primary-color);
}

/* section */

.section{
    text-align: center;
    
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer{
    text-align: center;
    background-color: var(--navbar-color);
    padding: 4rem 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* margin-bottom: 0px; */
    
}
.footer .footer-header{
    font-weight: bolder;
    color: white;
}

.footer .link{
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}